@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 1.3em;
}

*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4{
	font:inherit;
}

td{
	margin:20px;
	padding: 10px;
}
button{
	background-color: black;
	color:white;
	font:inherit;
}
button:focus{
	outline: none;
}
#head{
	position: sticky;
	height: 10vh;
	background-color: black;
	width: 100%;
	position: sticky;
	top:0px;
}

#head:hover{
	opacity: 100%;
}

#logo{
	margin: 15px;
}

#introDiv{
	height: 90vh;
	background-image: radial-gradient(#00000000,#000000ab, #000000),url(mainCarBg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	font-weight: 100;
}

#upBtn{
	position: fixed;
	left: 97%;
	bottom: 5vh;
	width:50px;
	height: 50px;
}

.headerBtn{
	height: 100%;
	width: 8%;
	margin:0;

	border: none;
	cursor: pointer;
	transition-duration: 1s;
	text-decoration: none;
}

.headerBtn:hover{
	font-size: 2em;
	width: 16%;
}

#exterior{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  	gap: 0px 0px;
  	grid-template-areas:
    "exHead exHead exHead exHead exHead exHead"
    "exTwoImDiv exTwoImDiv . . exdescDiv  exdescDiv"
    "exTwoImDiv exTwoImDiv eximDiv eximDiv exdescDiv  exdescDiv"
    "exTwoImDiv exTwoImDiv eximDiv eximDiv exdescDiv exdescDiv "
    "exTwoImDiv exTwoImDiv . . exdescDiv  exdescDiv";
}

#interior{
	margin-top: 20px;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-rows: 1fr 6fr ;
	width: 100%;
	height: 100%;
	gap: 0px 0px;
	grid-template-areas: 
	"intHead intHead intHead"
	"interDesc intImage intImage";
}

#engineComparison{
	display: grid;
	grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
	grid-template-columns: 1fr 9fr;
	width: 100%;
	height: 90vh;
	gap:0px 0px; 
	grid-template: 
	". . engineHead . ."
	"leftArrow firstEngine secondEngine thirdEngine rightArrow";
}

.engineComparisonHead{
	grid-area: engineHead;
}
.leftArrow{
	grid-area: leftArrow;
}

.rightArrow{
	grid-area: rightArrow;
}

.firstEngine{
	grid-area: firstEngine;
}

.secondEngine{
	grid-area: secondEngine;
}

.thirdEngine{
	grid-area: thirdEngine;
}

.description{
	font:inherit;
	margin: 10px;
}

.exHead{
	grid-area: exHead;
}

.exdescDiv{
	grid-area: exdescDiv;
	height: 100%;
	vertical-align: middle;
	border-left: 1px solid white;
}

.exOneImDiv{
	grid-area: eximDiv;
}

.exTwoImDiv{
	grid-area: exTwoImDiv;
	margin-left: 25px;
	border-left: 1px solid white;
	height: 100%; 
	padding: 10px;
}

.interiorImage{
	width: 40%;
	margin: 5px;
	
}

.exList{
	margin: 30px;
}

.intHead{
	grid-area: intHead;
}

.intImages{
	grid-area: intImage;
	margin-left: 20px;border-left: 1px white solid;
}

.safetyMain{
	display: flex;
	width: 100%;
}

.safetyMain div{
	flex: 1;
	border-left: 1px solid white;
	margin-left: 25px;
}

.intDesc{
	grid-area: interDesc;
	border-left: 1px white solid;
	margin-left:25px;
}

.navButton{
	height: 100%;width: 100%;background:inherit;color:inherit;font:inherit;
	border: none;
}

.navButton:hover{
	animation: buttons;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes buttons {
	0%{
		background-color: inherit; 
		font:inherit;
	}
	50%{
		background-color:rgb(100,100,100);
		font-size: 2em;
	}
    100%{
		background-color: inherit; 
		font:inherit;
	}
}

@media screen and (max-width: 1500px){
	.headerBtn{
		font-size: 1.2em;
		width: 12%;
	}
}
